/* Your custom styles */
body{

	transition: background-color 1s ease;
}


.navbar-expand-lg {
    background-color: transparent;
    border: 0px;
     transition: all 0.3s;		
}
.topnavcol{
	background: #FFFFFF;
}

 .navbar.navbar-light .breadcrumb .nav-item .nav-link,
  .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
    -webkit-transition: 0.35s;
    transition: 0.35s; }
    .navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
    .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
      color: rgba(0, 0, 0, 0.75); 
  	}
 
 .navbar.navbar-custom .breadcrumb .nav-item .nav-link,
  .navbar.navbar-custom .navbar-nav .nav-item .nav-link {
    color: #757575;
    -webkit-transition: 0.35s;
    transition: 0.35s; }
.intro{
    background: url("../img/michael-discenza-199747.jpg")no-repeat center center;
    background-size: cover;
    min-height: 690px;

}
.intro2, .full-bg-imgs, .warnapanel{
    background: url("../img/banner-2.jpg")no-repeat center center;
    background-size: cover;
    min-height: 300px;
}
.judul-web{
	 min-height: 690px;
    margin-top: 25%;
  }
  .warnagradasi .mask,
  .warnagradasi.full-bg-img {
background: -moz-linear-gradient(45deg, rgba(252,70,107,0.6) 0%, rgba(168,224,99,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252,70,107,0.6)), color-stop(100%, rgba(168,224,99,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(252,70,107,0.6) 0%, rgba(168,224,99,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(252,70,107,0.6) 0%, rgba(168,224,99,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(252,70,107,0.6) 0%, rgba(168,224,99,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(252,70,107,0.6) 0%, rgba(168,224,99,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8e063', endColorstr='#FC466B',GradientType=1 ); /* ie6-9 */
  }
#kami-adalah{

	min-height: 690px;


}
	.desk-kami{
	position: absolute;
    top: 35%;
	}
	.roket{
		margin-top: 40%;
	}
#layanan{
	min-height: 690px;
    
}
	.layanan-area{
	 margin-top: 10%;
	}
#testimonial{
	min-height: 690px;
	padding-top: 30px;
    
}
	.judul-atas{
	margin-top: 5%;
	}
	.kolom-testi{
	margin-top: 15%;
	}
#kontak{
	min-height: 690px;
   
}
	.header-kontak{
		background: yellow;
	}
#blog{
	min-height: 690px;
  
}
	.blogs{
	margin-top: 1%;
	}
	.judul-blog{
		padding-top: 4%;
	}
p.desc{
	padding-bottom: 30px;
}

.panel {
  /* min height incase content is higher than window height */
  min-height: 690px;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: #8e24aa;
}
.color-indigo {
  background-color: #3949ab;
}
.color-blue {
  background-color: #039be5;
}
.color-green {
  background-color: #007E33;
}
.color-yellow {
  background-color: #fdd835;
}
.color-orange {
  background-color: #fb8c00;
}
.color-red {
  background-color: #e53935;
}
.color-white {
  background-color: #FFFFFF;
}
.color-pink{
	background-color: #d81b60;
}
.color-grey{
	background-color: #eceff1;
}

.arrowdown a{
	text-align: center;
	color:  #FFFFFF;
	margin-top: 30px;
}
.arrowdown {
	text-align: center;
	color:  #FFFFFF;
}
.secondfooter,.footer-copyright{
	background-color: #1C2331;
}
hr.style1{
	border-top: 1px solid #757575;
}
.alamat-info{
	color: white;
}
.icon{
	padding-top: 10px;
}
.kolom-kontak{
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondmenu{
	padding-top: 15px;
	border: none;
	padding-bottom: -30px;	     
}
.navbar .secondmenu a{
	font-weight: bold;  
	color: #757575 !important;
}

 .navbar .secondmenu a:hover {
        color: rgba(0, 0, 0, 0.75) !important;
        background: #eaeaea !important;
          -webkit-transition: 0.35s;
    	transition: 0.35s; 
    	font-weight: bold;
         }
.artikel{
	margin-top: 20px !important;
}
.widget{
	margin-top: 40px !important;
}
.widget-wrapper {
            padding-bottom: 2rem;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 2rem;
        }
.widgetlist{
	border: none;

}
.widgetlist:hover{
	background-color: #eaeaea;
}
.customcard{
	margin: 10px 0px 0px 0px;
	padding: 0px;
}
.artikel img{
  max-width: 100%;
  height: auto;
}

.kartu-kontak{
	margin-top:16px;
}