---
layout: homepage
title: Putra Binangkit
description: Layanan Informasi & Teknologi, Pembuatan Website, Internet Marketing, Digital Media, Pengelolaan IT & Komputer
---


<section id="kami-adalah">
<div class="container panel" data-color="red">
 <a name="weare"></a>
<div class="row">

    <div class="col-8 media">
    <div class="desk-kami">
    <h3 class="text-left display-4 white-text"><strong>Laju kembangkan bisnis anda seperti lesatan roket.</strong></h3>
    <p class="text-left lead white-text">Putra Binangkit siap melayani berbagai kebutuhan informasi dan teknologi untuk melaju kembangkan bisnis dan organisasi anda ke tahap yang lebih efisien dan efektif.</p>
    <p class="text-left lead white-text">Kami mendedikasikan waktu untuk selalu bisa beradaptasi dengan teknologi paling termutakhir yang berkembang saat ini, sehingga layanan yang kami berikan mendapatkan kepuasan dari setiap pelanggan.</p>
    <a href="#layanankami"><button class="btn btn-success btn-lg">Cari Tahu Layanan Kami  <i class="fa fa-arrow-circle-down mr-1"></i></button></a>
    </div>
    </div>
    <div class="col-4">
     <div class="media roket">
     <img src="img/roket.png" class="img-fluid d-flex align-self-end mr-3" width="300">
    </div>
    </div>
</div>
</div>
</div>
</section>

<section id="layanan">
<div class="container panel" data-color="blue">
 <a name="layanankami"></a>
      <div class="row white-text">
        <div class="col-4 col-md-4 col-sm-4 layanan-area">
          <h2 class="ser-title">Layanan Kami</h2>
          <hr class="botm-line">
          <p>Putra Binangkit selalu mengedepankan kepuasan pelanggan, untuk itu seluruh layanan yang tersedia dikerjakan oleh orang-orang profesional dengan kualifikasi dan pegalaman yang sudah teruji bertahun-tahun.</p>
        </div>
        <div class="col-4 col-md-4 col-sm-4 layanan-area">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-code fa-2x"></i>
            </div>
            <div class="icon-info">
              <h4>Website & Internet Marketing</h4>
              <p>Jasa pembuatan dan pengelolaan website & e-commerce, juga melayani <i>Digital Branding</i> serta pemasaran produk & jasa anda di Internet.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-cubes fa-2x"></i>
            </div>
            <div class="icon-info">
              <h4>Aplikasi Bisnis Terintegrasi</h4>
              <p>Jasa instalasi dan <i>setup</i> infrastruktur aplikasi bisnis terintegrasi yang bisa disesuaikan dengan kebutuhan bisnis anda.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-cogs fa-2x"></i>
            </div>
            <div class="icon-info">
              <h4>Pengelolaan Infrastruktur IT</h4>
              <p>Layanan pengelolaan seluruh atau sebagian infrastruktur informasi dan teknologi di organisasi ataupun perusahaan anda.</p>
            </div>
          </div>
        </div>
        <div class="col-4 col-md-4 col-sm-4 layanan-area">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-desktop fa-2x"></i>
            </div>
            <div class="icon-info">
              <h4>Penjualan & Perbaikan Komputer</h4>
              <p>Layanan penjualan dan perbaikan berbagai jenis macam komputer ataupun laptop, meliputi seluruh komponen <i>hardware</i> dan <i>software</i></p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-server fa-2x"></i>
            </div>
            <div class="icon-info">
              <h4>Instalasi Jaringan</h4>
              <p>Instalasi jaringan lokal <i>(LAN)/(WAN)</i> di organisasi atau perusahaan anda untuk menghubungkan seluruh komputer pada satu jaringan</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
               <i class="fa fa-address-card fa-2x"></i>
            </div>
            <div class="icon-info">
              <h4>Sumber Daya Manusia</h4>
              <p>Agensi/perusahaan yang membutuhkan SDM dengan kualifikasi IT untuk remote/onsite staffing, dukungan teknis, pengelolaan media sosial, dll.</p>
            </div>
          </div>
        </div>
      </div>
        <div class="arrowdown animated bounce text-center"> 
                                <a href="#testi"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
                                </div>
</section>

<a name="testi"></a>
<section id="testimonial">

<div class="container panel" data-color="pink">
<!--Grid row-->
    <div class="row text-center white-text">
        <div class="text-center judul-atas">
    <h3 class="display-4">Apa Kata Mereka ?</h3>
    <!--Section description-->
    <p class="section-description">Penting bagi anda para calon pelanggan untuk mengetahui seperti apa pengalaman sukses dan kepuasan yang dirasakan oleh pelanggan kami saat menggunakan layanan dan jasa dari Putra Binangkit.</p>
        </div>
        <!--Grid column-->
        <div class="col-4 col-md-4 mb-r">
            
            <div class="testimonials kolom-testi">
                <!--Avatar-->
                <div class="avatar">
                    <img src="img/Dons.png" class="rounded-circle z-depth-1 img-fluid" width="120">
                </div>
                
                <!--Content-->
                <h4 class="mb-3">Don's</h4>
                <h6 class="mb-3 font-bold grey-text">Welding Engineer</h6>
                <p><i class="fa fa-quote-left"></i> Menggunakan layanan pembuatan website & jasa Internet Marketing dari Putra Binangkit sangat memuaskan & bisnis saya semakin baik.</p>

                <!--Review-->
                <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-half-full"> </i>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-4 col-md-4 mb-r">
            <div class="testimonials kolom-testi">
                <!--Avatar-->
                <div class="avatar">
                    <img src="img/Dede.png" class="rounded-circle z-depth-1 img-fluid" width="120">
                </div>

                <!--Content-->
                <h4 class="mb-3">Deden</h4>
                <h6 class="mb-3 font-bold grey-text">Pemilik UKM</h6>
                <p><i class="fa fa-quote-left"></i> Saya diberitahukan oleh teman tentang layanan Pembuatan Website dari Putra Binangkit dan saya puas dengan hasil pekerjaannya.</p>

                <!--Review-->
                <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-4 col-md-4 mb-r">
            <div class="testimonials kolom-testi">
                <!--Avatar-->
                <div class="avatar">
                    <img src="img/Hendra.png" class="rounded-circle z-depth-1 img-fluid" width="120">
                </div>
                <!--Content-->
                <h4 class="mb-3">Hendra</h4>
                <h6 class="mb-3 font-bold grey-text">Pengusaha</h6>
                <p><i class="fa fa-quote-left"></i> Layanan pengelolaan infrastruktur IT dari Putra Binangkit sangat memuaskan, kini bisnis saya lancar dan tidak banyak kendala pada sisi IT.</p>

                <!--Review-->
                <div class="orange-text">
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star"> </i>
                    <i class="fa fa-star-o"> </i>
                </div>

            </div>
        </div>
        <!--Grid column-->
        
    </div>
     <div class="arrowdown animated bounce text-center"> 
                               <i class="fa fa-angle-down fa-4x" aria-hidden="true"></i>
                                </div>
    <!--Grid row-->
</div>

</section>

<section id="kontak">
<div class="container panel" data-color="green">

 <!--Section heading-->
    <!--Section description-->
    <div class="row kolom-kontak">

        <!--Grid column-->
        <div class="col-5 mb-4 kolom-kontak">

            <!--Form with header-->
            <div class="card kartu-kontak">
            <!--Header-->
            <div class="header-kontak pt-3">

            <div class="d-flex justify-content-center">
              <h3><i class="fa fa-envelope"></i> Hubungi Kami:</h3>
            </div>
                <p class="text-center">Dapatkan penawaran dan harga terbaik </br>untuk setiap layanan Informasi & Teknologi.</p>
            </div>

                <div class="card-body">
                    <!--Body-->
                <form action="https://formspree.io/kontak@putrabinangkit.com" method="POST">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="form-name" name="name" class="form-control">
                        <label for="form-name">Nama</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="form-email"  name="_replyto" class="form-control">
                        <label for="form-email">Email anda</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input type="text" id="form-Subject"  name="subjek" class="form-control">
                        <label for="form-Subject">Subjek</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form-text" class="md-textarea"></textarea>
                        <label for="form-text">Tulis Pesan</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-dark-green" type="submit" value="Send">Submit</button>
                    </div>

                </div>
                    </form>
            </div>
            <!--Form with header-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-7">
              <br>
            <br>       
            <!--Google map-->
            <div id="map-container" class="z-depth-1-half map-container" style="height: 420px">
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8150732.247255091!2d109.60856045679557!3d-4.051057503238172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwNTQnMTIuMSJTIDEwNsKwNTInMDUuNSJF!5e0!3m2!1sen!2sid!4v1510321163600" width="650" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <br>
            <!--Buttons-->
            <div class="row text-center alamat-info">
                <div class="col-md-4">
                    <a class="rounded-circle accent-1"><i class="fa fa-map-marker fa-3x"></i></a>
                    <p>Jl. Caringin-Cikukulu, Selaawi, Caringin, Sukabumi, Jawa Barat</p>
                </div>

                <div class="col-md-4">
                    <a class="rounded accent-1"><i class="fa fa-phone fa-3x"></i></a>
                    <p>+6289508165349</p>
                </div>

                <div class="col-md-4">
                    <a class="rounded accent-1"><i class="fa fa-envelope fa-3x"></i></a>
                    <p>kontak@putrabinangkit.com</p>
                </div>
            </div>

        </div>
       <!--Grid column-->

    </div>


</div>
</section>

<section id="blog">
<div class="container panel" data-color="grey">
<div class="judul-blog">
<h3 class="section-heading pt-4">Kabar Terbaru</h3>
</div>
<div class="row">

   {% for post in site.posts limit: 3 %}
 
     <div class="col-4 blogs">
       <!--Card Light-->
<div class="card">
    <!--Card image-->
    <div class="view overlay hm-white-slight">
     {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <img {{ html }} class="img-fluid" />
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-body">
            <!--Title-->
        <h4 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a></h4>
        <hr>
        <!--Text-->
        <p class="card-text">{{ post.excerpt }}</p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="black-text d-flex flex-row-reverse">

            <h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5>
        </a>
           </div>
    <!--/.Card content-->
</div>
<!--/.Card Light-->
     </div>
{% endfor %}
</div>

</div>
</section>
