---
layout: default-blog
title: Kumpulan Arsip The Next Big Thing
description: Kumpulan arsip artikel yang telah kami publikasikan dengan hash tag The Next Big Thing, memberikan anda informasi teraktual dan terkini
---

<div class="container">
            <div class="row">

               <div class="col-lg-8 artikel">

               <h1 class="h1-responsive font-bold">The Next Big Thing</h1>
       <!--Post-->
                    <div class="post-wrapper wow fadeIn catpage" data-wow-delay="0.2s">





<h6 class="h6-responsive font-bold"><a href="#{{ my_tag | slugify }}" class="post-tag">The Next Big Thing</a></h6>
<ul>
 {% for post in site.tags.tnbt limit:20 %}
  <li><strong><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></strong> {{ post.date | date_to_string }}</li>
 {% endfor %}

</ul>



                        <!--Post data-->
                     
                    </div>
                    <!--/.Post-->

                    <hr>
                   <!--Pagination-->


                      <!--/.Pagination-->
                  </div>
        {% include widget.html %}
                </div>
		  
            </div>
        </div>
        <!--/.Main layout-->

 </main>