<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="cGnSivPO0RjURqr3vnnQUaTcJZeA_uba3UO9nP0fbL8" /> 
     <title>
    {% if page.title == "Home" %}
      {{ site.title }} - {{ site.tagline }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  
 
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<link rel="canonical" href="{{ page.url | prepend: site.url }}"/>
<meta property="og:locale" content="id_ID"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta name="twitter:site" content="@BinangkitID"/>
<meta name="twitter:creator" content="@BinangkitID"/>
<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.putrabinangkit.com\/","name":"Putra Binangkit","alternateName":"Layanan Informasi & Teknologi"}</script>    
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
   "name": "{{ site.title }}",
  "alternateName": "{{ site.title }}",
  "url": "https://www.putrabinangkit.com/",
  "logo": "https://www.putrabinangkit.com/img/logo-atas-black.png",
  "email":"kontak@putrabinangkit.com",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+6289508165349",
    "contactType": "customer service"
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Jl. Caringin - Cikukulu, Selaawi,",
    "addressLocality": "Caringin, Sukabumi",
    "addressRegion": "Jawa Barat",
    "postalCode": "43154",
    "addressCountry": "ID"
  },	
  "sameAs": [
    "https://www.facebook.com/putrabinangkitID",
    "https://twitter.com/BinangkitID",
    "https://www.instagram.com/putrabinangkitid",
    "https://www.linkedin.com/company/putra-binangkit/" ]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Service",
  "serviceType": "Layanan Informasi & Teknolgi",
  "provider": {
    "@type": "LocalBusiness",
    "name": "{{ site.title }}",
    "image": "https://www.putrabinangkit.com/img/logo-atas-black.png",
     "telephone": "+6289508165349",
    "priceRange": "3.000.000",
   "address": {
    "@type": "PostalAddress",
    "streetAddress": "Jl. Caringin - Cikukulu, Selaawi,",
    "addressLocality": "Caringin, Sukabumi",
    "addressRegion": "Jawa Barat",
    "postalCode": "43154",
    "addressCountry": "ID"
  }, 		
 "url": "https://www.putrabinangkit.com/",
 
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "07:00",
      "closes": "20:00"
    }
  ],
   "areaServed": [{
    "@type": "AdministrativeArea",
    "name": "Jakarta" 
  },{
    "@type": "AdministrativeArea",
    "name": "Bandung"
  },{
    "@type": "AdministrativeArea",
    "name": "Bogor"
  },{
    "@type": "AdministrativeArea",
    "name": "Tangerang"
  },{
    "@type": "AdministrativeArea",
    "name": "Bekasi"
  },{   
    "@type": "AdministrativeArea",
    "name": "Sukabumi"	    		 
  },{
    "@type": "AdministrativeArea",
    "name": "Jawa Barat"
}],
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Layanan Informasi & Teknolgi",
    "itemListElement": [
      {
        "@type": "OfferCatalog",
        "name": "Website & Internet Marketing",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Pembuatan Website"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Internet Marketing"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Aplikasi Bisnis Terintegrasi",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Instalasi Aplikasi Bisnis"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Pengelolaan Aplikasi Bisnis"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Pengelolaan Infrastruktur IT",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "On site Staffing"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Remote Staffing"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Pengelolaan Informasi & Teknolgi"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Penjualan & Perbaikan Komputer",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Penjualan Komputer"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Perbaikan Komputer"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Instalasi Jaringan",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Instalasi Jaringan LAN"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Instalasi Jaringan WAN"
            }
          }
        ]
      },
      {
        "@type": "OfferCatalog",
        "name": "Sumber Daya Manusia",
        "itemListElement": [
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "Layanan Pelanggan"
            }
          },
          {
            "@type": "Offer",
            "itemOffered": {
              "@type": "Service",
              "name": "SDM"
            }
          }
        ]
      }
    ]
  }
  }
  }
  
</script>
    <!-- Font Awesome -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ site.baseurl }}/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="panel" data-color="red">
 <header>
        <!-- Navbar -->
         <nav class="navbar navbar-expand-lg scrolling-navbar navbar-custom navbar-light fixed-top z-depth-0">
            <div class="container">
                <div class="collapse navbar-collapse changelogo" id="navbarToggler">
                    <ul class="navbar-nav mr-auto">

                      <a class="navbar-brand" href="{{ site.baseurl }}/" title="{{ site.title }}"> 
        <img src="{{ site.baseurl }}/img/logo-atas.png" height="50" class="d-inline-block align-top" alt="PutraBinangkit" title="{{ site.title }} - {{ site.tagline }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
                    </ul>
                    <!-- Social Icon  -->
                    <ul class="navbar-nav nav-flex-icons font-bold">
                        <li class="nav-item">
                            <a class="nav-link font-up" href="{{ site.baseurl }}/">Home <span class="sr-only">(current)</span></a>
                        </li>
                          <li class="dropdown nav-item">
                <a class="nav-link font-up dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
               Layanan Kami
                </a>
                <div class="dropdown-menu secondmenu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ site.baseurl }}/website-internet-marketing/">Website & Internet Marketing</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/aplikasi-bisnis-terintegrasi/">Aplikasi Bisnis Terintegrasi</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/pengelolaan-informasi-teknologi/">Pengelolaan Infrastruktur IT</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/penjualan-perbaikan-komputer/">Penjualan & Perbaikan Komputer</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/instalasi-jaringan/">Instalasi Jaringan</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/sumber-daya-manusia/">Sumber Daya Manusia</a>                </div>
            </li>
                        <li class="nav-item">
                            <a class="nav-link font-up" href="{{ site.baseurl }}/about-us/" data-offset="20">Tentang Kami</a>
                        </li>
                    </ul>
                       
                        <a class="nav-link font-up" href="{{ site.baseurl }}/kontak/" data-offset="20">
                         <button class="btn btn-success z-depth-0"><i class="fa fa-envelope mr-1"></i> Hubungi Kami</button>
                        </a>
          
                        
                </div>
            </div>
        </nav>
        <!-- Video -->
        <section class="view intro warnagradasi">
                <div class="full-bg-img mask">
                    <div class="container flex-center">
                        <div class="row pt-5 mt-3">
                            <div class="col-md-12 white-text text-center smooth-scroll judul-web">
                                <div class="white-text text-center wow fadeInUp">
                                    <h2 class="display-2">Solusi Informasi & Teknologi</h2>
                                    <p class="lead">Jadikan pengelolaan organisasi & bisnis anda lebih mudah, efektif & efisien. </p>
                                     <p class="lead desc">Penyedia layanan profesional informasi & teknologi untuk kebutuhan bisnis, organisasi dan perorangan.</p>
                                    <img src="img/logo-final.png" class="img-fluid mx-auto d-block" alt="logo" width="250">
                              
                                </div>
                                <div class="arrowdown animated bounce"> 
                                <a href="#weare"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>    
        </section>           
    </header>
    <!-- Navigation & Intro -->
</div><!--divcolor-->
