 <!--Sidebar-->
                <div class="col-lg-4 widget">

                    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                       <!--Panel-->
<div class="card">
    <div class="card-header unique-color lighten-1 white-text">
        Layanan
    </div>
    <div class="card-body customcard font-bold">
        <div class="list-group">
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/website-internet-marketing/"><i class="fa fa-code"></i> Website & Internet Marketing</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/aplikasi-bisnis-terintegrasi/"><i class="fa fa-cubes"></i> Aplikasi Bisnis Terintegrasi</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/pengelolaan-informasi-teknologi/"><i class="fa fa-cogs"></i> Pengelolaan Infrastruktur IT</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/penjualan-perbaikan-komputer/"><i class="fa fa-desktop"></i> Penjualan & Perbaikan Komputer</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/instalasi-jaringan/"><i class="fa fa-server"></i> Instalasi Jaringan</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/sumber-daya-manusia/"><i class="fa fa-address-card"></i> Sumber Daya Manusia</a>
                </div>
    </div>
</div>
<!--/.Panel-->
                    </div>



                    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
                        <h4 class="font-bold">Subscription form:</h4>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <p><strong>Subscribe to our newsletter</strong></p>
                                <p>Once a week we will send you a summary of the most useful news</p>
                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form1" class="form-control">
                                    <label for="form1">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>
                                <button class="btn btn-info unique-color">Submit</button>

                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Sidebar-->
