 <!--Sidebar-->
                <div class="col-lg-4 widget">

                    <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                       <!--Panel-->
<div class="card">
  <div class="view overlay hm-white-slight">
        <img src="../img/sidebanner2.jpg" class="img-fluid" alt="">
        <a>
            <div class="mask"></div>
        </a>

    </div>
    <div class="card-header unique-color-dark lighten-1 white-text">
        Layanan
    </div>
    <div class="card-body customcard font-bold">
        <div class="list-group">
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/website-internet-marketing/"><i class="fa fa-code"></i> Website & Internet Marketing</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/aplikasi-bisnis-terintegrasi/"><i class="fa fa-cubes"></i> Aplikasi Bisnis Terintegrasi</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/pengelolaan-informasi-teknologi/"><i class="fa fa-cogs"></i> Pengelolaan Infrastruktur IT</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/penjualan-perbaikan-komputer/"><i class="fa fa-desktop"></i> Penjualan & Perbaikan Komputer</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/instalasi-jaringan/"><i class="fa fa-server"></i> Instalasi Jaringan</a>
                    <a class="list-group-item list-group-item-action widgetlist" href="{{ site.baseurl }}/sumber-daya-manusia/"><i class="fa fa-address-card"></i> Sumber Daya Manusia</a>
                </div>
      <hr>
    </div>
 
  <div class="card-body">
            <!--Title-->

        <h4 class="card-title">Hubungi Kami</h4>
           <hr>
        <!--Text-->
        <p><i class="fa fa-home mr-3"></i> Jl. Caringin - Cikukulu, Selaawi,  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCaringin, Sukabumi, Jawa Barat, &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp43154</p>
                <p><i class="fa fa-envelope mr-3"></i> kontak@putrabinangkit.com</p>
                <p><i class="fa fa-phone mr-3"></i> +6289508165349</p>
                <p><i class="fa fa-whatsapp mr-3"></i> +6289508165349</p>
                 <hr>
    </div>
 
  <div class="card-body">
                                <h4 class="card-title">Berlangganan</h4>
                                <p>Dapatkan <strong>penawaran khusus</strong> serta informasi terkini seputar dunia Informasi & Teknologi langsung ke dalam kotak masuk surat elektronik kamu</p>
                                <div class="md-form">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form1" class="form-control">
                                    <label for="form1">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>
                                <button class="btn btn-info unique-color">Submit</button>

                            </div>
    <!--/.Card content-->

</div>
<!--/.Panel-->
                    </div>

                </div>
                <!--/.Sidebar-->
