---
layout: default
title: Blog & Informasi Teknologi Terkini
description: Blog resmi Putra Binangkit yang menyajikan informasi terkini seputar dunia Informasi & Teknologi dan pembaharuan produk serta layanan kami
---


<main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

               <div class="col-lg-8 artikel">
{% for post in paginator.posts %}
                    <!--Post-->
                    <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                        <!--Post data-->
                         <h1 class="h1-responsive font-bold"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                           <h6>Ditulis oleh <a href="{{ site.url }}"><strong>Putra Binangkit</strong></a> pada {{ post.date | date_to_string }} di  
                              {% if post.category %} 
    {% for category in post.category %}
    <a href="{{ site.baseurl }}/blog/topik/{{ category | slugify }}" class="post-tag">{{ category }}</a>
    {% endfor %}
    {% endif %}</h6>
</h6>


                        <br>
                        <!--Post excerpt-->
						  {{ post.excerpt }}
                        <!--"Read more" button-->
                        <a href="{{ site.baseurl }}{{ post.url }}"><button class="btn btn-info unique-color">Read more</button></a>
                    </div>
                    <!--/.Post-->

                    <hr>
{% endfor %}
                    <!--Pagination-->


{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination pg-bluegrey">
   {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
      {% else %}
       <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </span>
        </li>
    {% endif %}


  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="page-item active"><span class="page-link">{{ page }} <span class="sr-only">(current)</span>
    </span>
    </li>
    {% elsif page == 1 %}
    <li class="page-item">
    <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
     {% else %}
    <li class="page-item">
    <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-label="Next">
       <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
        </span>
        </li>
      {% endif %}
  </ul>
</nav>
{% endif %}

                      <!--/.Pagination-->

                </div>
		    
		    {% include widget.html %}
            </div>
        </div>
        <!--/.Main layout-->

    </main>
