---
layout: default
---

<main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

               <div class="col-lg-8 artikel">
              
                <h1 class="h1-responsive font-bold">{{ page.category }}</h1>

                    <!--Post-->
                    <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">

                   
<ul>
 {% for post in site.categories[page.category] limit:1 %}
  <li><a href="{{ post.url | absolute_url }}">{{ post.title }}</a> {{ post.date | date_to_string }}</li>
  {% endfor %}
</ul>

                        <!--Post data-->
                     
                    </div>
                    <!--/.Post-->

                    <hr>
                   <!--Pagination-->


                      <!--/.Pagination-->

                </div>
		    
		    {% include widget.html %}
            </div>
        </div>
        <!--/.Main layout-->

 </main>