---
layout: default-blog
---
   <main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Main column-->
                <div class="col-lg-8 artikel">

                    <!--Post-->
                    <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                        <!--Post data-->
                        <h1 class="h1-responsive font-bold">{{ page.title }}</h1>
                           <h6>Ditulis oleh <a href="{{ site.url }}"><strong>Putra Binangkit</strong></a> pada {{ page.date | date_to_string }} di  {% if page.category %} 
    {% for category in page.category %}
    <a href="{{ site.baseurl }}/blog/topik/{{ category | slugify }}" class="post-tag">{{ category }}</a>
    {% endfor %}
    {% endif %}</h6>

                         <br>


                         {{ content }}

                <hr>


  <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                     {% if page.tags %} | 
  {% for tag in page.tags %}
    <span>Tag: <a href="{{ site.baseurl }}{{ site.tag_page }}/hashtag-{{ tag }}" class="post-tag">{{ tag }}</a></span>
  {% endfor %}
  {% endif %}

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                   <div class="share-box">
<p>Share this:</p>

<a rel="nofollow" class="icons-sm fb-ic ml-0" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-facebook-official fa"></i><span> facebook</span></a>

<a rel="nofollow" class="icons-sm tw-ic" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter fa"></i><span> twitter</span></a>
        
<a rel="nofollow" class="icons-sm gplus-ic" href="https://plus.google.com/share?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-google-plus fa"></i><span> google</span></a>

<a rel="nofollow"  class="icons-sm li-ic" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=webjeda" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-linkedin fa"></i><span> linkedin</span></a>

</div>
                </div>
                <!--Grid column-->

            </div>
     <hr>
                 </div>
                </div>
               {% include widget.html %}
            </div>
        </div>
        <!--/.Main layout-->

    </main>
