---
layout: default
---
   <main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Main column-->
                <div class="col-lg-8 artikel">

                    <!--Post-->
                    <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                        <!--Post data-->
                        <h1 class="h1-responsive font-bold">{{ page.title }}</h1>
                           <h6>Written by <a href="{{ site.baseurl }}"><strong>Putra Binangkit</strong></a>at {{ page.date | date_to_string }} in  {% for tag in site.categories %}<a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>{% endfor %}</h6>

                         <br>


                         {{ content }}

                      

     {% if page.tags %} | 
  {% for tag in page.tags %}
    <span class="badge badge-pill purple">Tags: <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}">{{ tag[0] }}</a></span>
  {% endfor %}
  {% endif %}
                 </div>
                </div>
            </div>
        </div>
        <!--/.Main layout-->

    </main>