---
layout: default
---
   <main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Main column-->
                <div class="col-lg-8 artikel">

                    <!--Post-->
                    <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                        <!--Post data-->
                        <h1 class="h1-responsive font-bold">{{ page.title }}</h1>
                           <h6>Ditulis oleh <a href="{{ site.baseurl }}"><strong>Putra Binangkit</strong></a> pada {{ page.date | date_to_string }} di  {% if page.category %} 
    {% for category in page.category %}
    <a href="{{ site.baseurl }}/blog/topik/{{ category | slugify }}" class="post-tag">{{ category }}</a>
    {% endfor %}
    {% endif %}</h6>

                         <br>


                         {{ content }}

                      
                 </div>
                </div>
               {% include widget.html %}
            </div>
        </div>
        <!--/.Main layout-->

    </main>
